* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



canvas { 
    overflow: hidden;
    width:100vw;
    height:100vh;
    background-color:black;
 }
 h1{
    color: white;
 }
 
.game-container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 32, 32, 0.8); 
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 80%; 
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 4px;
    max-width: 300px;
}

.cell {
    width: 100px;
    margin-left: 70px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #000;
    cursor: pointer;
}

.cell:hover {
    background-color: #797272;
}

.result {
    margin-top: 20px;
    font-size: 24px;
}
.hidden {
    display: none;
}
.text-color{
    color: white;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #FFA500;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  .glow-on-hover {
      width: 12em;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      margin-right: 10px;
  }
  
  .glow-on-hover:hover:before,
  .glow-on-hover2:hover:before,
  .glow-on-hover.clicked:before,
  .glow-on-hover2.clicked:before {
      opacity: 1;
  }
  
  .glow-on-hover:before,
  .glow-on-hover2:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }

  
  .glow-on-hover:after,
  .glow-on-hover2:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
  }

.glow-on-hover2 {
    width: 7em;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-right: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 14em;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 7em;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  

  .modal-content {
    background-color:rgba(33, 32, 32, 0.8);
    margin: 15% auto;
    padding: 20px;
    color: white;
    border: 1px solid #1a1919;
    width: 50%;
  }
.color{
    color: white;
}